
.nav-bg-image
{
  background-image: url(../../ugm17/portal/navigation-background.png);
}

#navigation-subbar
{
  height: 80px;
  background-image: -webkit-linear-gradient(top, #049cdb, #c43c35);
}

.nsicon {
    color: crimson;
}

.nav-link-current .nav-arrow {
    border-color: transparent transparent #ef16d4 transparent;
  }
